*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar{
    padding: 20px;
    background-color: antiquewhite;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.row1{
    display: grid;
    grid-template-columns: repeat(2,20% 80%);
    margin-top: 50px;
}
table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid #bebebe;
    padding: 10px 20px;

}
th{
    background-color: bisque;
}
tbody tr:nth-child(2n){
    background-color: rgb(248, 248, 206);
}
.menu{
    margin-bottom: 30px;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 30px;
    margin-right: 10px;
}
img{
    width: 150px;
}
